/*reset*/
*{
  margin: 0; padding: 0; font-size: 100%; font-family:'Inter', sans-serif; font-weight: normal;
  box-sizing: border-box; border: none; outline: none;
}
img{max-width: 100%;}
ul{list-style: none;}
a{text-decoration: none;}
h1{font-size: 1.5em; color: #00FFFF;}
h2{font-size: 1.5em; color: #00ff18;}
p{font-size: 1em; color: #ff0000;}
/*body*/
body{background-image: url(img/kakeguri.png);}
/*CABEÇALHO*/
.cabecalho{width: 100%; float: left; padding: 50px 8%; background-color: Black;}
.logo a {width: 289px; height: 137px; float: left; background: url("logo.png")no-repeat; font-size: 0px;}
.logo a:hover{background-image: url("logo2.png"); width: 289px; height: 137px;}
.cabecalho form{width: 30%; float: right;}
.cabecalho input[type="text"] {width: 85%; float: left; padding: 15px 10px; border-radius: 5px 0 0 50px;}
.cabecalho button{width: 15%; float: right; padding: 15px 10px; border-radius: 0 0 50px; background-color: #0cae98; color: #fff;
cursor: pointer;}
/*menu*/
.menu{width: 100%; float: top; padding: 18px 8%;}
.menu li{float: right;}
.menu li a{color: #00FFFF; margin-right: 25px;}
.menu li a:hover{color: #00ffff; color:#00ffff;
            text-shadow:
               0px 0px 10px #00ffae,
               0px 0px 10px #00ffae,
               0px 0px 10px #00ffae,
               0px 0px 10px #00ffae;
                  <!--
                     Acima esta a mágica, se você utilizar apenas uma linha,
                     o efeito será muito pequeno, ou seja, quanto mais linhas
                     você usar, mais forte será o efeito!

                     A propriedade "TEXT-SHADOW" produz uma sombra
                     no texto a qual esta sendo usado!

                     Para que serve cada atributo:
                        1º - define o deslocamento da sombra p/direira(valor +) e p/esquerda(valor -)
                        2º - define o deslocamento da sombra p/baixo(valor +) e p/cima(valor -)
                        3º - define o raio da sombra
                        4º - define a cor da sombra
                   -->

            }
/*social icons*/
.social-icons{float: right;}
.fa-instagram {color: #00FFFF; float: right; font-size: 19px; width: 50px;}
.fa-instagram:hover{color: #fff;}
/*principal*/
.principal{width: 100%; float: left; padding: 20px 8%;}
.sobre{width: 70%; float: left; padding: 0 20px 20px 0;}
.sobre h2{margin-bottom: 15px;}
.hit{width: 150px; height: 150px;}
/*propaganda*/
.propaganda{float: right; padding: 10px 10px; background-color: #f5f5f5; border-radius: 5px}
/*conteudo*/
.conteudo{width: 100%; float: left; padding: 20px 8%;}
.final{width: 70%; padding: 0 20px 20px 0;}
.final h2{margin-bottom: 15px;}
/*rodapé*/
.rodapé{position: absolute; bottom: 0px; width: 100%; text-align: center;}
